.platform {
    padding-bottom: 261px;
    overflow: visible;

    &::after,
    &::before {
        content: '';
        position: absolute;
    }

    &::after {
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0px);
        width: 497px;
        height: 277px;
        background: #949494;
        opacity: 0.5;
        filter: blur(275px);
        z-index: -1;
    }

    &::before {
        width: 265px;
        height: 265px;
        bottom: -104px;
        left: -27px;
        background: #666666;
        filter: blur(250px);
    }
}

.circles {

    &::after,
    &::before {
        content: '';
        position: absolute;
        filter: blur(225px);
        width: 253px;
        height: 253px;
        overflow: hidden;
    }

    &::after {
        background: #64D0FF;
        opacity: 0.8;
        top: 34px;
        right: 0px;
    }

    &::before {
        background: #929292;
        top: -16px;
        right: 100px;
    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.table {
    width: 63%;
    padding-right: 24px;
    display: flex;
    align-items: flex-start;
    text-align: center;

    li {
        position: relative;
        z-index: 1;
        background: #000000;
        border-radius: 10.8167px;
        font-size: 16.225px;
        line-height: 25px;
        border: 0.9px solid rgba(183, 182, 187, 0.4);
        max-width: 162px;
        margin: 0 auto;
        padding: 13px 5px;
    }
}

.step {
    border-radius: 25.2389px;
    border: 0.9px solid rgba(183, 182, 187, 0.4);
}

.step1 {
    margin-top: 90px;
    padding: 40px 27px 39px;
    width: 217px;
    position: relative;

    li {
        font-size: 14.25px;

        &::before {
            content: '';
            position: absolute;
            z-index: 0;
            top: 50%;
            transform: translate(0, -50%);
            left: 100%;
            width: 28px;
            height: 0.901391px;
            background: #B7B6BB;
            opacity: 0.8;
        }

        &:nth-child(2) {

            &::before {
                width: 45px;
            }
        }

        &:not(:last-child) {
            margin-bottom: 27px;
        }
    }

    &::before {
        content: '';
        position: absolute;
        z-index: 0;
        top: 50%;
        transform: translate(17px, -50%);
        left: 100%;
        width: 300px;
        height: 92px;
        border: 0.901391px solid #B7B6BB;
        opacity: 0.8;
        border-width: 1px 0px 1px 1px;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(100% 100% at 0% 0%, rgba(48, 48, 48, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
        box-shadow: inset -4.50695px -4.50695px 225.348px rgba(255, 255, 255, 0.02);
        backdrop-filter: blur(12.6195px);
        border-radius: 27px;
        z-index: 0;
    }
}

.step2 {
    margin: 161px 34px 0px;

    li {

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

.step3 {
    max-width: 266px;
    padding: 24px 30px 76px;
    position: relative;

    li {
        padding: 12px 5px;

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    svg {
        fill: #FFF;
        margin-bottom: 16px;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        bottom: -27px;
        width: 11px;
        height: 88px;
    }

    &::after {
        background-image: url('./arrow-down.svg');
        left: 50%;
        transform: translate(-23px, 0px);
    }

    &::before {
        background-image: url('./arrow-up.svg');
        right: 50%;
        transform: translate(14px, 0px);
    }
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(100% 100% at 0% 0%, rgba(48, 48, 48, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
        box-shadow: inset -4.50695px -4.50695px 225.348px rgba(255, 255, 255, 0.02);
        backdrop-filter: blur(12.6195px);
        border-radius: 27px;
    }
}

.desc {
    font-size: 14.4222px;
    line-height: 20px;
    margin-bottom: 25px;
}

.consumers {
    font-size: 16.225px;
    line-height: 28px;
    position: absolute;
    bottom: -77px;
    left: 50%;
    transform: translate(-50%, 0px);
}

.content {
    width: 37%;
    padding: 51px 0 0 23px;
}

.title {
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.02em;
    margin-bottom: 22px;

    .grey {
        color: #AAAAAA;
    }

    .gradient {
        background: linear-gradient(89.95deg, #487FFF -1.65%, #73B5FF 51.06%, #CB76FF 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.text {
    line-height: 27px;
    letter-spacing: 0.01em;
    opacity: 0.8;
    padding-right: 20px;
    margin-bottom: 21px;
}

.link {
    font-family: 'Mazzard H', sans-serif;
    color: #7B93FF;
    letter-spacing: 0.01em;
    line-height: 22px;

    &:hover {
        color: #FFF;
    }
}

@media(max-width:1200px) {

    .step {
        
        li {
            max-width: 100%;
        }
    }

    .step1 {
        margin-top: 115px;
        padding: 30px 15px;

        li {
            font-size: 12px;

            &::before {
                width: 16px;
            }

            &:nth-child(2) {

                &::before {
                    width: 33px;
                }
            }
        }
    }


    .step2 {
        margin: 177px 34px 0px;

        li {
            font-size: 12px;
        }
    }

    .step3 {
        max-width: 230px;
        padding: 25px 15px 75px;
    }
}

@media(max-width:1024px) {

    .platform {
        padding-bottom: 160px;
    }

    .wrapper {
        align-items: flex-end;
    }

    .table {
        width: 55%;
        padding: 0 15px 0 0;
        flex-wrap: wrap;
    }

    .step {

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        li {
            font-size: 14px;
            line-height: 18px;
            width: 130px;
            height: 58px;
            padding: 10px 5px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
    }

    .step1 {
        margin: 0;
        padding: 20px 20px 24px;
        width: 100%;
        
        &::before {
            border-width: 1px 1px 0px 1px;
            top: 100%;
            transform: translate(-50%, 33px);
            left: 50%;
            width: 50%;
            height: 277px;
        }

        li {

            &::before {
                width: 1px;
                height: 24px;
                top: auto;
                left: 50%;
                bottom: -25px;
                transform: translate(-50%, 0);
            }

            &:nth-child(2) {
                &::before {
                    width: 1px;
                }
            }

            &:not(:last-child) {
                margin: 0;
                flex-basis: 45%;
            }

            &:last-child {
                margin-bottom: 20px;
                flex-basis: 100%;
                order: -1;

                &:before {
                    width: 0.9px;
                    height: 136px;
                    bottom: -136px;
                }
            }
        }
    }

    .step2 {
        margin: 58px 0 36px;
        width: 100%;

        & ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        li {
            font-size: 14px;
            line-height: 18px;
            width: 130px;
            height: 58px;
            padding: 10px 5px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 0;


            &:not(:last-child) {
                margin: 0;
            }
        }
    }

    .step3 {
        padding: 24px 20px 85px;
        max-width: 100%;
        width: 100%;

        li {
            flex-basis: 45%;

            &:not(:last-child) {
                margin: 0;
            }
        }
    }

    .consumers {
        bottom: -70px;
    }
    
    .content {
        width: 45%;
        padding: 0 0 0 15px;
    }

    .title {
        font-size: 36px;
    }
}

@media(max-width:767px) {

    .platform {
        padding-bottom: 174px;
    }

    .wrapper {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .table {
        width: 100%;
        padding: 0;
    }

    .step1 {

        &::before {
            height: 185px;
        }
    }

    .step2 {

        ul {
            justify-content: space-between;
        }

        li {
            width: 45%;
            max-width: 100%;
        }
    }

    .step3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px 20px 59px;

        &::before,
        &::after {
            bottom: -38px;
            height: 91px;
        }

        ul {
            order: 1;
            margin-bottom: 21px;
                width: 100%;
        }

        li {
            width: 45%;
        }

        svg {
            order: 2;
            margin-bottom: 24px;
        }
    }

    .desc {
        order: 3;
        margin: 0;
    }

    .content {
        width: 100%;
        padding: 0;
        margin-bottom: 49px;
    }
    
    .title {
        font-size: 35px;
        line-height: 42px;
        margin-bottom: 30px;
    }

    .text {
        font-size: 16px;
        line-height: 24px;
        padding: 0;
    }
}

@media(max-width:425px) {

    .step2 {

        li {
            width: 120px;
        }
    }
}