@import './reset.scss';
@import './fonts.scss';

body {
  font-family: 'Mazzard H', sans-serif;
  color: #FFFFFF;
  background: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

main {
  position: relative;
    z-index: 1;
}

a {
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  color: #AAAAAA;
  font-family: 'Mazzard M', sans-serif;

  &:hover {
    color: #7B93FF;
  }
}

a,
button,
svg,
li,
p,
span,
div {
  transition: all 0.3s ease;
}

.container {
  max-width: 1226px;
  padding: 0 28px;
  margin: 0 auto;
}

header {
  overflow: hidden;
}

footer {
  overflow: hidden;
}

section {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.wrapper {
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    z-index: 0;
    position: absolute;
    width: 742px;
    height: 597px;
    left: -224px;
    top: -158px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.09) 0%, rgba(196, 196, 196, 0) 100%);
  }

  &::after {
    content: '';
    z-index: 0;
    position: absolute;
    width: 742px;
    height: 597px;
    right: -200px;
    top: 57px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.09) 0%, rgba(196, 196, 196, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.main-background {
  position: absolute;
  z-index: 0;
  top: 25.2%;
  right: 0;
}