@import './reset.scss';
@import './fonts.scss';

body {
  font-family: 'Mazzard H', sans-serif;
  color: #FFFFFF;
  background: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

main {
  position: relative;
    z-index: 1;
}

a {
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  color: #AAAAAA;
  font-family: 'Mazzard M', sans-serif;

  &:hover {
    color: #7B93FF;
  }
}

a,
button,
svg,
li,
p,
span,
div {
  transition: all 0.3s ease;
}

.container {
  max-width: 1226px;
  padding: 0 28px;
  margin: 0 auto;
}

header {
  overflow: hidden;
}

footer {
  overflow: hidden;
}

section {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.wrapper {
  overflow: hidden;
  position: relative;

  &::before{
    content: '';
    position: absolute;
    z-index: 0;
    top: 23%;
    right: -45%;
    width: 1185.68px;
    height: 703.47px;
    background: linear-gradient(180deg, rgba(0, 65, 218, 0.115) 0%, rgba(40, 0, 153, 0.115) 91.72%);
    filter: blur(100px);
    border-radius: 2.71815e+07px;
    transform: rotate(131.65deg);
}

&::after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 56%;
    left: -40%;
    width: 1185.68px;
    height: 703.47px;
    background: linear-gradient(180deg, rgba(0, 65, 218, 0.161) 0%, rgba(40, 0, 153, 0.161) 91.72%);
    filter: blur(100px);
    border-radius: 2.71815e+07px;
    transform: rotate(131.65deg);
}
}

.main-background {
  position: absolute;
  z-index: 0;
  top: 25.2%;
  right: 0;
}